
/*
	@name instagram_post___2
*/
/* Only edit this if you know what you are doing! */
body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }

/* Only edit this if you know what you are doing! */
img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }

/* Only edit this if you know what you are doing! */
/* div { position: absolute; } */

.content-contain {margin:30px}

#ripo {
	top: 600px;
	left: 0px;
	/* width: 125px;
	height: 53px;  */
	overflow: hidden;
	font-family: Rubik;
	font-size: 12px;
	text-align: left;
	padding: 40px;
	line-height: 32.153434753418px;
	letter-spacing: 1.68px;
	color:#FFFFFF;
}



._bg__instagram_post___2 {
	top: 0px;
	left: 0px;
	width: 1080px;
	height: 1080px;
	background:rgba(255,255,255,1);
}


.screenshot_2022_12_19_112810_1 {
	top: 0px;
	left: 0px;
	width: 300px;
	height: 300px;
	background-image: url("screenshot_2022_12_19_112810_1.png");
	background-repeat: no-repeat;
	background-size: contain;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	
	

}


.vihan_saraswat {
	font-family: Poppins;
	font-size: 0.5rem;
	font-style: italic;
	text-align: left;
	color:#FFFFFF !important;
	padding: 12px ;
}


body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }

/* Only edit this if you know what you are doing! */
img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }

/* Only edit this if you know what you are doing! */
/* div { position: absolute; } */

#content-container { display: block;
					position: absolute;
					width: 100%;
					height: 100%; 
					overflow: auto; 
					display: block;  
					margin-left: auto; 
					margin-right: auto; 
					background-image: url("unsplash_g9i_plbfdgk.png"); 
					background-color: rgb(22,27,34),;
					size: cover;
					} 

#_bg__desktop___1 {
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	color:black;
	position: absolute;

	
}


#unsplash_g9i_plbfdgk {
	top: 0px !important;
	position: absolute !important;
	left: 0px;
	width: 1713px;
	height: 1212px;
	background:url(/Users/ripunjaysingh/learn/Gitreverb/Templates/skins/unsplash_g9i_plbfdgk.png);
	background-size:cover;
	position: absolute;
}


#git_reverb {
	top: 12px;
	left: 99px;
	width: 226.62833976746px;
	height: 73.628339767456px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 33.26px;
	font-weight: bold;
	text-align: left;
	color:#FFFFFF;
	position: absolute;
}


#_12_followers {
	top: 311px;
	left: 811px;
	width: 218px;
	height: 54px;
	overflow: hidden;
	font-family: Rubik;
	font-size: 24px;
	text-align: center;
	line-height: 32.153434753418px;
	letter-spacing: 1.68px;
	color:#FFFFFF;
	position: absolute;
}


#blah_bhal_bhal_blah_bhal_bhalblah_bhal_bhalblah_bhal_bhalblah_bhal_bhalblah_bhal_bhalblah__ {
	top: 409px;
	left: 552px;
	width: 727.925532341px;
	height: 74.925532341003px;
	overflow: hidden;
	font-family: Rubik;
	font-size: 19.85px;
	text-align: left;
	line-height: 26.593569993973px;
	letter-spacing: 1.3895px;
	color:#FFFFFF;
	position: absolute;
}


#bio {
	top: 380px;
	left: 552px;
	width: 87.925532341003px;
	height: 39.925532341003px;
	overflow: hidden;
	font-family: Rubik;
	font-size: 19.85px;
	font-weight: bold;
	text-align: left;
	line-height: 26.593569993973px;
	letter-spacing: 1.3895px;
	color:#FFFFFF;
	position: absolute;
}


#_12_followers_ek1 {
	top: 311px;
	left: 1058px;
	width: 210px;
	height: 48px;
	overflow: hidden;
	font-family: Rubik;
	font-size: 24px;
	text-align: center;
	line-height: 32.153434753418px;
	letter-spacing: 1.68px;
	color:#FFFFFF;
	position: absolute;
}


#_20_repositries {
	top: 311px;
	left: 548px;
	width: 232px;
	height: 48px;
	overflow: hidden;
	font-family: Rubik;
	font-size: 24px;
	text-align: center;
	line-height: 32.153434753418px;
	letter-spacing: 1.68px;
	color:#FFFFFF;
	position: absolute;
}


#ripunjay {
	top: 176px;
	left: 500px;
	width: 382.09551620483px;
	height: 98.095516204834px;
	overflow: hidden;
	font-family: Rubik;
	font-size: 30.19px;
	font-weight: bold;
	text-align: center;
	line-height: 64.561417531967px;
	letter-spacing: 3.3733px;
	color:#FFFFFF;
	position: absolute;
}


#developer {
	top: 230px;
	left: 532px;
	width: 201px;
	height: 54px;
	overflow: hidden;
	font-family: Rubik;
	font-size: 24px;
	text-align: center;
	line-height: 32.153434753418px;
	letter-spacing: 1.68px;
	color:#FFFFFF;
	position: absolute;
}


#ellipse_1 {
	top: 146px;
	left: 164px;
	width: 247px;
	height: 247px;
	-ms-border-radius: 123.5px / 123.5px;
	-o-border-radius: 123.5px / 123.5px;
	-moz-border-radius: 123.5px / 123.5px;
	-webkit-border-radius: 123.5px / 123.5px;
	border-radius: 123.5px / 123.5px;
	-ms-box-shadow:0px 3.61px 4px 1px rgba(0,0,0,0.25);
	-o-box-shadow:0px 3.61px 4px 1px rgba(0,0,0,0.25);
	-webkit-box-shadow:0px 3.61px 4px 1px rgba(0,0,0,0.25);
	-moz-box-shadow:0px 3.61px 4px 1px rgba(0,0,0,0.25);
	box-shadow:0px 3.61px 4px 1px rgba(0,0,0,0.25);
	background:rgba(217,217,217,1);
	position: absolute;
}


#line_1 {
	top: 540.5px;
	left: 127px;
	width: 1153px;
	height: 1px;
	background:#FFFFFF;
	position: absolute;
}


#repos {
	top: 554px;
	left: 645px;
	width: 125px;
	height: 53px;
	overflow: hidden;
	font-family: Rubik;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	line-height: 32.153434753418px;
	letter-spacing: 1.68px;
	color:#FFFFFF;
	position: absolute;
}


#line_2 {
	top: 79px;
	left: -0.01px;
	width: 1440.01px;
	height: 1px;
	background:#FFFFFF;
	position: absolute;
}

#component_1 {
	top: 193px;
	left: 857px;
	width: 130px;
	height: 30.19px;
	position: absolute;
}

#rectangle_1 {
	top: 0px;
	left: 0px;
	width: 130px;
	height: 30.19px;
	-ms-border-radius: 8.39px;
	-o-border-radius: 8.39px;
	-moz-border-radius: 8.39px;
	-webkit-border-radius: 8.39px;
	border-radius: 8.39px;
	background:rgba(0,132.83,141.31,1);
	position: absolute;
}


#message {
	top: 3px;
	left: 24px;
	width: 103.38709640503px;
	height: 38.387096405029px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 16.77px;
	font-weight: bold;
	text-align: left;
	color:#FFFFFF;
	position: absolute;
}


a:link {
  color: whitesmoke;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: whitesmoke;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: whitesmoke;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: whitesmoke;
  background-color: transparent;
  text-decoration: underline;
}
