<h1>FOLLOWERS:</h1>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    .avatar {
      vertical-align: middle;
      width: 70px;
      height: 70px;
      border-radius: 50%;
    }
    </style>
    <ul>
        {% for user in followersdict %}
            <img src={{followersdict[user][0]}} alt="Avatar" class="avatar">
            <a href="{{url_for('anyuser',username=user)}}">{{user}}</a>
            
            <p> </p>
        {% endfor %}
     </ul>
    </head>
    <body>
    
    
    
